.table__content {
   margin: 25px;
   font-size: 18px;
   min-width: 400px;
}

.table__content thead tr {
   background-color: rgb(6, 191, 243);
   color: aliceblue;
   text-align: center;
   font-weight: bold;
}

.table__content th {}

.table__content td {
   padding: 12px 15px;
}

/* .table__content th, .table__content td {
   border-bottom: 1px solid black;
} */


/* .table__content tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
} */

.active__coin {
   background-color: rgb(14, 136, 230);
}

.red{
   background-color: red;
}
.green{
   background-color: green;
}